0) Получить переменную, содержащую строку со значением равным двум в одиннадцатой степени и вывести ее на экран.

1) Наибольшим количеством способов создать строковую переменную, содержащую текст:

It's "quoted string"

2) Наибольшим количеством способов создать строковую переменную, содержащую текст:

line1

line2

line3

3) Наибольшим количеством способов создать строковую переменную, содержащую текст:

\\\\\\\\

\\\\\\

\\\\

\\

4) Вывести 5й с начала и 5й с конца символ из строки 'Hello world'

In [16]:
st = 'Hello world'

5) Двумя способами получить символ 'w' из строки 'Hello world'

6) Вывести символ, находящийся в середине заранее низвестной строки, полученной с помощью функции input()

7) Для строки 'Light ray' двумя способами получить подстроку с 1го по 4й символы включительно.

8) Для строки 'My new text' двумя способами получить подстроку с 3го по 7й символы включительно.

9) Получить подстроку из последних 4х символов строки 'Light ray'.

10) Составить строку из всех четных символов строки 'Light ray'.

11) Составить строку из всех нечетных символов строки 'Light ray'.

12) Инвертировать (получить строку с обратной последовательностью символо) строку  'Light ray'.

13) Вывести c третьего с начала до предпоследнего символа заранее низвестной строки, полученной с помощью функции input().

14) Получить подстроку неизвестной заранее строки, содержащую половину символов строки и расположенную по середине строки.

15) Проверить, содержит ли произвольная строка, прочитанная в обратную сторону последовательность 'eno'

16) Получить строку, начинающуюся с последних 3 символов стркои 'Light ray', а заканчивающуюся подстрокой с 1го до 4го  символоа строки.

17) Коротко записать создание строки 'oneoneoneoneoneonetwotwotwo'

18) Разбить строку '  one,two,three,four,five,six,seven,eight,nine,ten   ' на список из строк, состоящих только из названий цифр.

19) Вставить между всеми символами строки 'Hello world' стрелочку '->' и сохранить результат в строковой переменной(ожидаемый результат: 'H->e->l->l->o-> ->w->o->r->l->d')

20) Для двух произвольных строк провести сравнение на совпадение содержимого без учета регистра букв и начальных и конечных пробельных символов. Например, для двух строк '  HeLLO WOrlD' и 'hello WORLD  ' такое сравнение должно возвращать True (содержание строк совпадает).

21) В строке 'hello hello Hello hello' средствами Python найти индекс второго вхождения подстроки 'hel'

22) В строке 'hello hello Hello hello' средствами Python найти индекс второго с конца вхождения подстроки 'hel'

23) Из заранее неизвестной строки вырезать подстроку, начинающуюся с 'he' и заканчивающееся 'on' (протестировать на строке ' start hello python world'.

24)* Используя цикл for и функцию enumerate() (см. лекцию 2) в вывести произвольную строку на экран и при этом убрать все пробелы и на их месте вывести номер слова по счету (пример: исходная строка 'hello hello Hello hello' -> выведено на экран 'hello1hello2Hello3hello4')

25) Сформировать строку форматирования, которая для вызова format('val1', 'val2', 'val3') будет возрващать следующий результат: 'val3-val2-val1-val2-val3'

26) Сформировать строку форматирования fs, которая на при использовании в нижеследующем коде приводит к формированию таблицы, выведенной в следующей ячейке.

In [11]:
print("""
0123456789012345678901234567890123456789
|   1 | ###59.06|      453 | 00000001 |
|   5 | ##159.00|  123,453 | 00000111 |
|  15 | #-159.10| -     12 | 00010000 |
| 105 | -1059.10|    1,200 | 11111111 |
""")

0123456789012345678901234567890123456789
|   1 | ###59.06|      453 | 00000001 |
|   5 | ##159.00|  123,453 | 00000111 |
|  15 | #-159.10| -     12 | 00010000 |
| 105 | -1059.10|    1,200 | 11111111 |