# Лабораторная 1 - pandas
Гриднев Дмитрий Владимирович ПИ18-1

In [9]:
import pandas as pd
import handcalcs.render
data = pd.read_csv("test.csv")
data

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...
413,1305,3,"Spector, Mr. Woolf",male,NaN,0,0,A.5. 3236,8.0500,NaN,S
414,1306,1,"Oliva y Ocana, Dona. Fermina",female,39.0,0,0,PC 17758,108.9000,C105,C
415,1307,3,"Saether, Mr. Simon Sivertsen",male,38.5,0,0,SOTON/O.Q. 3101262,7.2500,NaN,S
416,1308,3,"Ware, Mr. Frederick",male,NaN,0,0,359309,8.0500,NaN,S
417,1309,3,"Peter, Master. Michael J",male,NaN,1,1,2668,22.3583,NaN,C

In [10]:
%%render
a = 2
b = 3
c = 2*a + b/3

Ознакомиться с основными параметрами датасета, используя функции библиотеки pandas, включая следующие данные:

a. Количество точек данных (измерений) в наборе

In [11]:
len(data)

418

b. Количество полей данных (атрибутов)

In [ ]:
len(data.columns)

c. Тип данных каждого поля, шкала каждого поля

In [ ]:
data.info()

d. Количество отсутствующих значений для каждого поля

In [ ]:
data.isna().sum()

e. Количество и названия константных и уникальных полей

In [ ]:
for col in data:
    print(col, len(data[col].unique()), len(data[col]) - data[col].isna().sum())

4. Удалить из набора поля, не несущие информативной нагрузки - содержащие уникальные либо константные значения

In [ ]:
data.drop(columns=["PassengerId", "Name", "Cabin"])

5. Заменить возраст пассажиров на год рождения

In [ ]:
data["Age"] = 2020-data["Age"]
data

6. Переименовать все названия колонок на русском языке

In [ ]:
data = data.rename(
    columns={
        "Pclass": "Класс",
        "Sex": "Пол",
        "Age": "",
        "SibSp": "Братьев/сестер на борту",
        "Parch": "Детей/родителей на борту",
        "Fare": "Цена билета",
        "Cabin": "Кабина",
        "Embarked": "Отправление",
    }
)

7. Заменить все отсутствующие данные средним значением (в случае числового поля) либо самым распространенным в категориальных полях.

In [4]:
for col in data:
    if data[col].dtype == "object":
        data[col] = data[col] if data[col] is not None else data[col].mode()
    else:
        data[col] = data[col] if data[col] is not None else data[col].mean()

NameError: name 'data' is not defined

8. Сохранить получившийся набор данных в формате CSV

In [ ]:
data.to_csv("new_test.csv", encoding="cp1251", sep=";")

9. Открыть данный файл в программе Microsoft Excel и сохранить в формате .xlsx

10. Считать файл .xlsx в новый DataFrame

In [ ]:
pd.read_excel("new_test.xlsx")